@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body{
    text-align: center;
    color: white;
    background-image: url(https://az705044.vo.msecnd.net/20200611/6-11-2020-5-13-50-pm.png?v=1638783330454);
    background-size: contain;
    font-family: 'Poppins', sans-serif;
}

hr{
    border: 1px solid white;   
}

#counter{
    /*background-color: rgba(4, 4, 196, 0.7); */
    background-color: white;
}

.heading{
    font-weight: bold;
    padding-top: 20px;
}

h2, h3{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#notes{
    font-size: 10px;
}

h5{
    font-family: 'Poppins', sans-serif; 
}